/* * {
    font-family: 'Chillax', sans-serif;
  } */
  
  .container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    max-width: 340px; 
    margin-bottom: 0%; 
    padding: 20px;
    border: 1px solid #ccc; 
    box-shadow: 0 15px 40px 10px rgb(154, 170, 207, 21%);
    box-sizing: border-box;
  }
  
  .boximg {
    margin-bottom: 20px;
  }
  
  .box-heading {
    font-weight: bold;
    margin: 10px 0;
    font-size: 1.5rem;
  }
  
  .BoxButton {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }
  
  .boxButton {
    color: whitesmoke;
    background-color: #3b7fbf;
    cursor: pointer;
    width: 280px;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
    font-weight: 450;
    position: relative;
    overflow: hidden;
  }
  
  .boxButton:hover {
    background-color: white;
    color: #3b7fbf;
  }
  
  .headingP31 {
    padding-top: 3.8%;
    text-align: center;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
    color: #5e5e5e;
  }
  .pp3{
    font-size: 16px;
    font-weight: 500;
    color: #5e5e5ecb;
  }
  .headingP3 {
    text-align: center;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 2.8%;
    color: #5e5e5e;
  }
  
  .box-heading {
    color: #5e5e5e;
    font-size: 3.5vh;
    font-weight: 1000;
  }
  
  @media (max-width: 760px) {
    .container {
      padding: 1rem;
    }
  
    .box4 {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .boxButton {
      width: 200px;
      height: 3.5rem;
      font-size: 16px;
    }
  
    .box-heading {
      font-size: 1.25rem;
    }
  
    .headingP31, .headingP3 {
      font-size: 1.5rem;
    }
  }
  