.slider-container {
  position: relative;
  margin: 0 auto;
  padding: 0; 
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-size: 1rem;
  font-weight: 450;
  width: 76%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.slick-slide {
   display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide img {
  height: auto;
}

.content {
  color: rgb(0, 0, 0);
  width: 280px;
  text-align: center;
  height: 260px;
  background-color: white;
  margin-top: 20px;
 
}

.btn:hover {
  background-color: #3b7fbf;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  border-radius: 100%;
}

.prev-btn,
.next-btn {
  background-color: white;
  color: #3b7fbf;
  border: 1px solid rgb(133, 128, 128);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: white;
  color: #3b7fbf;
}

.slide {
  flex-direction: column;
  align-items: center;
  
  height: 400px;
  box-shadow: 0 15px 40px 10px rgb(154, 170, 207, 21%);
  border-radius: 2px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1.2rem; 

}

.slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 10px;
}

.slide-image img {
  max-height: 100%;
  object-fit: cover;
}


@media (max-width:767px){
  .slider-container{
    width: 100%;
  }
  .content{
    width: 80px;
    height: 500px;
    font-size: .8rem;
    text-align: center !important;
  }
  .slide{
    height: 700px;
  }
  .headingp4-slider{
    font-size: 1rem;
  }

}

@media (min-width:768px) and (max-width:1024px){
  .slider-container{
    width: 100%;
  }
  .content{
    width: 180px;
    font-size: .95rem;
    text-align: center !important;
  }
  .slide{
    height: 500px;
  }
  .headingp4-slider{
    font-size: 1.3rem;
  }   
}